html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(-45deg,#20bf55, #01baef);
  animation: gradient 10s ease infinite;
  
}

#container {
  position: relative;

  width: 100%;
  height: 546px;
  background-color: #fff;
  border-radius: 5px;
}
.head{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.249);
    border-radius: 14px;
    border: 1px solid rgb(255 255 255 / 31%);
    padding: 20px;
    /* cursor: pointer; */
    transition: 0.3s ease;
    margin-bottom: 20px;
}

.options{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 20px); */
    font-size: 16px;
    background-color: rgba(20, 20, 20, 0.249);
    border-radius: 14px;
    border: 1px solid rgb(255 255 255 / 31%);
    padding: 20px;
    /* cursor: pointer; */
    transition: 0.3s ease;
}

/* //buttons */

.options {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    
}
  .options .btn {
    position: relative;
    width: 155px;
    height: 50px;
    margin-bottom: 20px;
  }
  .options .btn a, .options .btn button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    backdrop-filter: blur(15px);
  }
  .options .btn a:before, .options .btn button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.2s;
  }
  .options .btn:hover a,.options .btn:hover button {
    letter-spacing: 3px;
    transition: 0.5s;
  }
  .options .btn:hover a:before,.options .btn:hover button:before {
    transform: skewX(45deg) translateX(200%);
  }
  .options .btn:hover:before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.2s;
  }
  .options .btn:hover:after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.2s;
  }
  .options .btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: linear-gradient(-45deg,#20bf55, #01baef);
  
    border-radius: 10px;
    transition: 0.2s;
  }
  .options .btn:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: linear-gradient(-45deg,#20bf55, #01baef);
  
    border-radius: 10px;
    transition: 0.2s;
  }
  .options .btn:nth-child(1):before, .music-button .btn:nth-child(1):after {
      background: linear-gradient(-45deg,#20bf55, #01baef);
  
      box-shadow: 0 0 5px #20bf55, 0 0 15px #20bf55, 0 0 30px #01baef, 0 0 60px #01baef;
  }
  



label {
  color: #fff;
}
.options .form-group{
    display: flex;   
    justify-content: space-between;
}

.options .form-group select{
    width: 80px;
}

canvas {
  border-radius: 5px;
  cursor: url(../img/pen.png), crosshair;
}

output {
  background: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  float: left;
  padding: 10px 0 20px;
  width: 100%;
  text-align: center;
}

ul li,
#newColor {
  display: block;
  height: 54px;
  width: 54px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 3px 0 0 #222;
}

ul li {
  display: inline-block;
  margin: 0 5px 10px;
}

/* ID Styles */

#addNewColor {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
}

#imageView {
  position: relative;
  left: 0px;
  background: #fff;
  border: 1px solid #000;
}

#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 10px;
  width: 30%;
  position: relative;
  display: none;
}

#colorSelect:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

#colorSelect button {
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  clear: both;
  margin: 10px 0 -7px;
  padding: 5px 10px;
  width: 100%;
}

#container {
  /* position: relative; */
}

#controls {
  min-height: 60px;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

#curcolorContainer {
  text-align: center;
}

#curcolorContainer div {
  font-weight: bold;
}

#helpContent {
  display: none;
  width: 40%;
  height: 70%;
  padding: 40px;
  background-color: #06f;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5), 3px 0 3px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px #000;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.25em;
  z-index: 1000;
}

#helpContent a,
#helpContent a:visited {
  color: maroon;
  text-decoration: none;
}

#helpContentX {
  position: absolute;
  top: -3%;
  right: -3%;
  font-size: 2em;
  border-radius: 50%;
  background: red;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#helpContentX:hover {
  background: white;
  color: red;
}

#helpInnerContent {
  padding-right: 20px;
  height: 80%;
  overflow-y: scroll;
}

#newColor {
  width: 80px;
  height: 120px;
  border-radius: 3px;
  box-shadow: none;
  float: left;
  border: none;
  margin: 10px 20px 20px 10px;
}

#optionsHolder {
  text-align: center;
}

#pen {
  padding-left: 20px;
  background-image: url("../img/cursor.png");
  background-position: center left;
  background-repeat: no-repeat;
}

#revealColorSelect {
  border: none;
  border-radius: 5px;
  margin: 10px 0px 10px 20px;
  padding: 5px 20px;
}

#sliders p {
  margin: 8px 0;
  vertical-align: middle;
}

#sliders label {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 35px;
  font-size: 14px;
  color: #6d574e;
}

#sliders input {
  position: relative;
  top: 2px;
}

#imageTemp {
  position: absolute;
  top: 10px;
  left: 50%;
}

#textInput {
  display: none;
}

#toolBelt,
#toolSize {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Classes */

.colem {
  color: lime;
}

.copytext {
  font-weight: normal;
}

.selected {
  border: 7px solid #fff;
  width: 40px;
  height: 40px;
}

.selectedLight {
  border: 7px solid #000;
  width: 40px;
  height: 40px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  #colorSelect {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  #colorSelect {
    margin-bottom: 5%;
  }
}
